@import "tailwindcss";


body {
  font-family: 'Combo', cursive;
}

@keyframes popup {
  0% {
    transform: scale(0.4) translateY(40%);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) translateY(-15%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-popup {
  animation: popup 0.3s ease-out;
}

div[data-rk-connect-button] {
  display: none !important;
}